body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.login__header {
  background-color: #f4a42d;
  padding: 3rem;
  height: 50vw;
}

.login__header h1 {
  color: #ffffff;
}

.login__form {
  padding: 3rem;
}

label {
  margin-bottom: 1rem;
}

.login__form input {
  margin-bottom: 1rem;
  width: 80%;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid #b2beb5;
  background: none;
  padding: 0.4rem;
}

.login__form button {
  outline: none;
  padding: 1rem;
  color: #ffffff;
  border: none;
  background-color: #f4a42d;
  width: 80%;
  margin: 1rem 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: #f4a42d;
}

/* Sidebar styling */
.sidebar {
  margin: 2rem;
}

.sidebar__flex {
  display: flex;
  justify-content: space-between;
}

.sidebar img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.sidebar__menuicon {
  font-size: 3rem;
  cursor: pointer;
}

.sidebar__menuitems {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
  width: 100vw;
  height: 100vh;
}

/* Card Styling */
.card {
  display: flex;
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
}

.cards {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .login {
    display: flex;
  }

  .login__header {
    max-width: 300px;
    height: 100vw;
  }

  .login__form {
    margin: 2rem 0 15rem 15rem;
  }

  .login__form input {
    width: 100%;
  }

  .login__form button {
    width: 100%;
  }

  .cards {
    display: flex;
  }

  .sidebar__menuicon {
    display: none;
  }
}
