body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f3f3f3;
}

.app {
  overflow: hidden;
}

.home {
  width: 100vw;
  height: 100vh;
  margin: 1rem;
}

.login__header {
  background-color: #f4a42d;
  padding: 3rem;
  height: 50vw;
}

.login__header h1 {
  color: #ffffff;
}

.login__form {
  padding: 3rem;
}

label {
  margin-bottom: 1rem;
}

.login__form input {
  margin-bottom: 1rem;
  width: 80%;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid #b2beb5;
  background: none;
  padding: 0.4rem;
  outline: none;
}

.signIn__button {
  outline: none;
  padding: 1rem;
  color: #ffffff;
  border: none;
  background-color: #f4a42d;
  width: 80%;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
}

.button__link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #f4a42d;
  text-decoration: none;
  cursor: pointer;
}

.login__form a {
  color: #f4a42d;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Sidebar styling */
.menu {
  font-size: 3rem;
  margin-left: 1rem;
}

.navbar {
  /* background-color: #060b26; */
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu__bars {
  /* margin-left: 2rem; */
  font-size: 1rem;
  background: none;
  /* background-color: #e2eaeb; */
}

.nav__menu {
  background-color: #e2eaeb;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav__menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #a9b8c3;
  font-weight: 600;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav__menu__items {
  width: 100%;
}

.navbar__toggle {
  /* background-color: #060b26; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* check */

.user__info img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  object-fit: cover;
}

.user__info {
  display: flex;
}

.loading__image {
  margin-left: 25rem;
  margin-top: 5rem;
}

.change__button {
  margin-top: 2rem;
}

.change__button button {
  outline: none;
  padding: 0.7rem;
  background-color: #ffffff;
  color: #244351;
  background: none;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
}

/* Card Styling */
.card {
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 1rem;
  width: 70%;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.card p {
  font-weight: bold;
}

.cards {
  cursor: pointer;
}

/* Explore styling */
.explore {
  padding: 1rem;
  background-color: #ffffff;
}

.explore__gallery img {
  height: 15rem;
  width: 15rem;
  margin: 0.5rem 3rem;
}

.explore__immigrate {
  display: flex;
  justify-content: space-between;
}

.destination__card {
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
}

.destination__card p {
  color: #244351;
  font-weight: bold;
}
small {
  color: #b2bdd2;
}

.destination__info {
  display: flex;
}

@media (min-width: 1200px) {
  .login {
    display: flex;
  }

  .login__header {
    max-width: 300px;
    height: 100vw;
  }

  .login__form {
    margin: 2rem 0 15rem 15rem;
  }

  .login__form input {
    width: 100%;
  }

  /* .login__form button {
    width: 100%;
  } */

  .cards {
    display: flex;
    margin-left: 10rem;
  }

  .card {
    width: auto;
  }

  .explorers {
    display: flex;
    justify-content: space-between;
  }

  .explore__gallery {
    display: flex;
    object-fit: cover;
  }

  .explore__gallery img {
    margin-left: 3rem;
  }

  .header h3 {
    padding-left: 5rem;
    font-weight: bold;
  }

  .explorers {
    margin: 2rem 0 0 5rem;
  }

  .destination__card {
    width: 20rem;
    height: 5rem;
  }
}
