body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f3f3f3;
}

.app {
  overflow: hidden;
}

.home {
  width: 100vw;
  height: 100vh;
  margin: 1rem;
}

.login__header {
  background-color: #f4a42d;
  padding: 3rem;
  height: 50vw;
}

.login__header h1 {
  color: #ffffff;
}

.login__form {
  padding: 3rem;
}

label {
  margin-bottom: 1rem;
}

.login__form input {
  margin-bottom: 1rem;
  width: 80%;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid #b2beb5;
  background: none;
  padding: 0.4rem;
  outline: none;
}

.signIn__button {
  outline: none;
  padding: 1rem;
  color: #ffffff;
  border: none;
  background-color: #f4a42d;
  width: 80%;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
}

.button__link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #f4a42d;
  text-decoration: none;
  cursor: pointer;
}

.login__form a {
  color: #f4a42d;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Sidebar styling */
/* .sidebar {
  margin: 2rem;
} */

.sidebar__flex {
  display: flex;
  justify-content: space-between;
}

.sidebar img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.sidebar__menuicon {
  font-size: 3rem;
  cursor: pointer;
  margin-right: 3rem;
}

.sidebar__menuitems {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.loading__image {
  margin-left: 25rem;
  margin-top: 5rem;
}

.user__info {
  display: flex;
  justify-content: space-around;
}

.change__button {
  margin-top: 2rem;
}

.change__button button {
  outline: none;
  padding: 0.7rem;
  background-color: #ffffff;
  color: #244351;
  background: none;
  border: none;
  box-shadow: 1px 1px 1px #ccc;
}

/* Card Styling */
.card {
  display: flex;
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 1rem;
  width: 70%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.card p {
  font-weight: bold;
}

.cards {
  cursor: pointer;
}

/* Explore styling */
.explore {
  padding: 1rem;
  background-color: #ffffff;
}

.explore__gallery img {
  height: 15rem;
  width: 15rem;
  margin: 0.5rem 3rem;
}

.explore__immigrate {
  display: flex;
  justify-content: space-between;
}

.destination__card {
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #ccc;
}

.destination__card p {
  color: #244351;
  font-weight: bold;
}
small {
  color: #b2bdd2;
}

.destination__info {
  display: flex;
}

.active {
  background-color: #0000ff;
}

@media (min-width: 1200px) {
  .login {
    display: flex;
  }

  .login__header {
    max-width: 300px;
    height: 100vw;
  }

  .login__form {
    margin: 2rem 0 15rem 15rem;
  }

  .login__form input {
    width: 100%;
  }

  .login__form button {
    width: 100%;
  }

  .cards {
    display: flex;
  }

  .sidebar__menuicon {
    display: none;
  }

  .explorers {
    display: flex;
    justify-content: space-between;
  }

  .explore__gallery {
    display: flex;
    object-fit: cover;
  }

  .explore__gallery img {
    margin-left: 3rem;
  }

  .header h3 {
    padding-left: 5rem;
    font-weight: bold;
  }

  .explorers {
    margin: 2rem 0 0 5rem;
  }

  .destination__card {
    width: 20rem;
    height: 5rem;
  }
}
